<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp $JENKINS_HOME/../reportTests/* .</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.xunit.XUnitBuilder plugin="xunit@1.95">
      <types>
        <TessyPluginType plugin="tessy-xunit@0.1-SNAPSHOT">
          <pattern>TESSY_DetailsReport*.xml</pattern>
          <failIfNotNew>false</failIfNotNew>
          <deleteOutputFiles>false</deleteOutputFiles>
          <stopProcessingIfError>true</stopProcessingIfError>
        </TessyPluginType>
      </types>
      <thresholds>
        <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
          <unstableThreshold></unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold></failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
        <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
          <unstableThreshold></unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold></failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
      </thresholds>
      <thresholdMode>1</thresholdMode>
      <extraConfiguration>
        <testTimeMargin>3000</testTimeMargin>
      </extraConfiguration>
    </org.jenkinsci.plugins.xunit.XUnitBuilder>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.2-beta-4">
      <testResults>generatedJUnitFiles/**/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers>
        <hudson.plugins.junitattachments.AttachmentPublisher plugin="junit-attachments@1.3"/>
      </testDataPublishers>
      <healthScaleFactor>1.0</healthScaleFactor>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>